#root {
	max-width: 830px;
	margin: 2rem auto 0 auto;
}

header {
	margin-top: 6rem;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 1.5rem;
}

h3 {
	font-size: 20px;
	letter-spacing: -0.09rem;
}

h4 {
	font-size: 17px;
	letter-spacing: -0.06rem;
	margin: 0;
}

p {
	font-size: 16px;
	color: #aaaeb4;
	line-height: 1.4rem;
}

.title-description {
	color: #868a8f;
	margin: 0;
	font-size: 14px;
}

.creations,
.now,
.connect {
	margin: 2.5rem 0 0 0;
}

.creations-list {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 1.5rem;
}

.creation-item {
	max-width: 45%;
	width: 100%;
	height: auto;
	border: 2px solid rgb(39, 38, 38);
	border-radius: 0.5rem;
}

.ci-container {
	padding: 1rem;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.underline {
	text-decoration: underline;
	font-weight: 500;
}

.project-text {
	color: #868a8f;
	margin: 0;
	font-size: 14px;
}

.description {
	padding-top: 5px;
	margin: 0;
}

.looking {
	padding-top: 1.5rem;
	font-weight: 500;
	text-decoration: underline;
}

.footer {
	color: #868a8f;
}

/* sub pages */

.back {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.back-text {
	margin-left: 1rem;
	font-size: 16px;
	font-weight: 600;
	color: white;
}

.arrow-back {
	color: white;
}

.title-container {
	padding-bottom: 0.5rem;
}

.projects-list {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 1.5rem;
}

.project-item {
	max-width: 45%;
	width: 100%;
	height: auto;
	border: 2px solid rgb(39, 38, 38);
	border-radius: 0.5rem;
}

.njs-container {
	padding: 1rem;
}

.rjs-container {
	padding: 1rem;
}

.animations-container {
	padding: 1rem;
}

.craft-wrapper {
	padding: 1rem 2rem;
}
