.craft-projects {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
}

.craft-projects > section {
	flex-grow: 1;
	width: 33%;
	height: 100px;
}

.back {
	display: flex;
	align-items: center;
}

.back-text {
	margin-left: 1rem;
}

.craft-wrapper {
	margin: 0 2.5rem;
}
